.login-screen {
    -fx-background-color: #ffffff;
}

.login-text-field {
    -fx-focus-color: #2f7a0c;
}

.login-button {
    -fx-background-color: #2f7a0c;
    -fx-text-fill: #FFFFFF;
}

.login-button:hover {
    -fx-background-color: #29650b;
    -fx-text-fill: #FFFFFF;
}

.login-button:pressed {
    -fx-background-color: #29650b;
    -fx-text-fill: #FFFFFF;
}
